.body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.calendar {
  color: #c5c5c5;
}

.footer {
  text-align: center;
  font-size: 1rem;
}

.calculate {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.calculate:hover {
  background-color: #5956CD;
  box-shadow: 0px 15px 20px #5a56cd91;
  color: #fff;
  transform: translateY(-7px);
}

.calculate:active {
  transform: translateY(-1px);
}

.resultAge {
  margin: 0 0 0.5rem 0;
  font-size: 2.5rem;
}

.ageage {
  margin: 0;
  font-size: 1.5rem;
}